<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" th:href=" @{/css/style.css}">
</head>

<body>
    <div th:replace="~{fragments/header :: header(activePage='aboutMe')}"></div>

    <div class="page-content">
        <div class="container">
            <div class="blog-title">About Me</div>
            <div class="about-me-content">
                <div class="about-me-image-section">
                    <img th:src=" @{'/images/' + ${aboutMe.imagePath}}" alt="About Me Image" class="about-me-image">
                </div>
                <div class="about-me-text-section">
                    <p><strong>Name:</strong> <span th:text="${aboutMe.author}"></span></p>
                    <p><strong>Age:</strong> 25</p>
                    <p th:utext="${aboutMe.content}">About Me content...</p>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/side-banner :: side-banner}"></div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>