<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    <link rel="stylesheet" th:href=" @{/css/style.css}">
    <script th:src="@{/js/contact.js}"></script>
</head>

<body>
    <div th:replace="~{fragments/header :: header(activePage='contact')}"></div>

    <div class="page-content">
        <div class="container">
            <div class="blog-title">Contact me</div>
            <p class="send-message-title">Send your message</p>
            <hr class="contact-separator" />
            <!-- Success Message -->
            <div th:if="${successMessage}" class="alert-success" th:text="${successMessage}">
                Thank you for your message.
            </div>
            <p>Write your message here. Fill out the form:</p>

            <form th:action=" @{/contact}" th:object="${contactMessage}" method="post">
                <!-- Error Messages Section -->
                <div th:if="${#fields.hasErrors('*')}">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></div>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div>
                    <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="error-message"></div>
                </div>
                <div class="form-row">
                    <input class="form-input" type="text" placeholder="Write your name here" th:field="*{name}" required
                        maxlength="100">
                    <input class="form-input" type="email" placeholder="Write your email here" th:field="*{email}"
                        required maxlength="100">
                </div>
                <div>
                    <textarea class="form-input form-input--textarea" placeholder="Write your message here"
                        th:field="*{message}" required maxlength="1000"></textarea>
                </div>
                <div class="btn-wrapper">
                    <button type="submit" class="btn">Send - Click here</button>
                </div>
            </form>
        </div>
        <div th:replace="~{fragments/side-banner :: side-banner}"></div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>